<div class='resources'>

  <h1 class='h2'>
    <%= gettext "New audience" %>
  </h1>

  <%= render "form.html", Map.merge(assigns, %{
        changeset: @changeset,
        action: audience_path(@conn, :create)
      })
  %>

  <%= link "Cancel", to: audience_path(@conn, :index) %>

</div>
