<!DOCTYPE html>
<html lang="<%= locale() %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Exmail</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body id="home">

  <%= render "_toast.html", assigns %>
  <%= render "_header.html", assigns %>

  <div id="wrap" class='container-fluid'>
    <%= render @view_module, @view_template, assigns %>
  </div>

  <%= render "_footer.html", assigns %>

  <script><%= raw "window.layout = 'wider';" %></script>
  <script><%= "window.isMobile = false;" %></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
